.navbar-brand{
    color:white
}

.hello{
    color:white
}


.dropdown-toggle{
    color:white;
}

// .dropdown {
//     float: right;
//     //overflow: hidden;
//   }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
//   /* Add a red background color to navbar links on hover */
  // .navbar a:hover{
  //   background-color: lightblue;
  // }
  .dropdown:hover .dropbtn {
    background-color: darkblue;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
//   /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
//   /* Add a grey background color to dropdown links on hover */
//   .dropdown-content a:hover {
//     background-color: #ddd;
//   }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

// .form-inline{
//     display: inline-block;
// }

// .nav .navbar-nav{
//     display: inline-block;
// }

a:hover{
    color:black;
}

.color{
  color: black;
}


.myclass{

      background-color: antiquewhite;  
     /* background-color:whitesmoke;  */
} 

.rounded-circle{
  border-radius: 50%;
}


.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}



