<br><br><br>
<h1>Admin Dashboard</h1>

<ul class="list-group-item">
       <a routerLink = "/adminlogin/dashboard/user" class="list-group-item">List Of Users</a>  
       <a routerLink = "/adminlogin/dashboard/category" class="list-group-item">List of Category</a>               
       <a routerLink = "/adminlogin/dashboard/product" class="list-group-item">Products</a>  
       <a routerLink = "/adminlogin/dashboard/orders" class="list-group-item">Orders</a>       
</ul> 

<a> <button (click)="onlogout()" class="btn btn-warning">Logout</button> </a> 