<br><br><br>

<h1>Add Category</h1>


<div class="col-md-3"></div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
          <label for="">Category Id</label>
          <input [(ngModel)]="id" type="text" value="{{count}}" class="form-control">
        </div>
      </div>
</div>

<div class="col-md-3"></div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
          <label for="">Title</label>
          <input [(ngModel)]="title" type="text" class="form-control">
        </div>
      </div>
</div>

<div class="col-md-3"></div>

<div class="row">
  <div class="col-md-3">
    <button (click)="addCategory()" class="btn btn-success">Add</button>
    <a style="margin-left: 10px;" routerLink="/adminlogin/dashboard/category" class="btn btn-danger">Cancel</a>
  </div>
</div>